.tdx-react-no-text-decoration {
  text-decoration: none; }

.buttonCellTop {
  border-bottom: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  padding: 5px 5px 5px 10px;
  vertical-align: middle; }

.gutter-top {
  padding-top: 1em; }

.gutter-right {
  padding-right: 1em; }

.gutter-bottom {
  padding-bottom: 1em; }

.gutter-left {
  padding-left: 1em; }

.margin-top {
  margin-top: 1em; }

.margin-right {
  margin-right: 1em; }

.margin-bottom {
  margin-bottom: 1em; }

.margin-left {
  margin-left: 1em; }
